@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.AppBar {
  height: 82px;
  width: 375px;
  left: 0;
  top: 0;
  border-radius: 0;
  position: absolute;

  /* Theme 3 / Neutral 2 */

  background: #3c3a39;
}

.StatusBar {
  height: 44px;
  width: 375px;
  top: 0;
  border-radius: 0;
  position: absolute;
  left: calc(50% - 375px / 2);
}

.ToolBar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 48px;
  width: 375px;
  left: 0;
  top: 44px;
  border-radius: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

nav {
  height: 44px;
  width: 101px;
  right: 44px;
  border-radius: 0;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: calc(50% - 44px / 2);
}

nav img {
  padding-bottom: 50px;
  text-align: end;
  margin-left: 84px;
}

.Logo {
  height: 44px;
  width: 101px;
  left: 12px;
  border-radius: 0;
  padding: 10px 12px 10px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: calc(50% - 44px / 2);
}

.Logo a {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: 34px;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  padding-bottom: 50px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headline {
  /* Headline */

  /* Auto layout */

  padding: 1px 24px;
  gap: 12px;
  position: absolute;
  width: 327px;
  height: 598px;
  left: 0;
  top: 80px;

  /* background */

  background: #1c1a19;
  background-image: url("images/Illustration.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: 230px;
}

.content {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.PrimaryText {
  /* Primary Text */

  left: 24px;
  top: 120px;
  border-radius: nullpx;
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
  letter-spacing: 0.37px;
}

.SupportingText {
  /* Supporting Text */
  height: 27px;
  width: 327px;
  left: 24px;
  top: 256px;
  border-radius: nullpx;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin-bottom: 10px;
  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.discription {
  /* Description */

  width: 327px;
  height: 136px;

  /* Theme 1 / Body Reguler 2 */

  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  color: #fff;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.SocialMedia {
  /* Social Media */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  width: 200px;
  height: 40px;
  gap: 10px;
  list-style: none;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.SocialMedia img {
  height: 24px;
  width: 24px;
  left: 8px;
  top: 8px;
  border-radius: 0;
}
